body{
  padding-top: 65px;
  padding-left: 80px;
  min-height:100%;
}
.goalsMain{
  text-align: center;
}
.goalsMain .header input {
  padding: 10px;
  font-size: 16px;
  border: 2px solid black;
  color: #000000
 
}
.goalsMain .header button {
  padding: 10px;
  font-size: 16px;
  margin: 10px;
  background-color: #0066FF;
  color: #FFF;
  border: 2px solid #0066FF;
}
 
.goalsMain .header button:hover {
  background-color: #003399;
  border: 2px solid #003399;
  cursor: pointer;
}
sidebar {
  position: fixed;
  right: 0;
  top: 0;
  padding-top:100px; 
  padding-bottom: 0px !important;
  padding-right: 10px;
  padding-left: 10px;
  color: #006DA7;
  background: #060F29;
  height: 100%;
  width: inherit;
  overflow-y: auto;
  border-right: 2px solid #555; }
  sidebar .playlist-item {
  margin-left: 10px;
  padding-left:10px; }
  sidebar::-webkit-scrollbar{
    width: 10px;
    background-color: #222; }
  sidebar::-webkit-scrollbar-thumb{
    background-color: black;
    -webkit-border-radius: 1ex; }
  sidebar .logo {
    width: 100%;
    padding: 15px; }
  sidebar section > * {
    padding: 0 15px; }
  sidebar .menu-item {
    transition: border-left, 0.2s; }
    sidebar .menu-item a {
      color: #c8c8c8; }
      sidebar .menu-item a:hover {
        color: white; }
    sidebar .menu-item.active, sidebar .menu-item:hover {
      border-left: 3px solid #00bc8c; }
      @media only screen and (min-width : 320px) {
  .container, .container-fluid {
    padding-left: 100px; 
  }
}
.home{
  padding: 50px;
}
.chart{
  width: 35%;
  height: 35%;
  padding: 10px;
  border: 1px solid black;
  margin: 10px;
}
.home{
    background:url('paperback.jpg') no-repeat center center;
    z-index: 9999;
    width: 100%;
    min-height:100%;
    position:fixed;
    top:0;
    left:0;
    background-size:cover;
     -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.text-vertical-center {
   display: block;
   text-align: center;
   position: relative;
   margin: 90px;
   padding: 90px;

}

.text-vertical-center h1 {
   font-size: 6em;
   font-weight: 800;
  
}
.text-vertical-center h3 {
   font-size: 2em;
   font-weight: 400;
   padding-top: 10px;
 
}

.btn-dark {
   border-radius: 0;
   color: #fff;
   background-color: rgba(0,0,0,0.4);
   padding:5px;
}

.btn-dark:hover,
.btn-dark:focus,
.btn-dark:active {
   color: #fff;
   background-color: rgba(0,0,0,0.7);
}

.btn-light {
   border-radius: 0;
   color: #333;
   background-color: rgb(255,255,255);
}

.btn-light:hover,
.btn-light:focus,
.btn-light:active {
   color: #333;
   background-color: rgba(255,255,255,0.8);
}
h1{
  font-family: 'Pacifico', cursive;
}
h4{
  font-family: 'Philosopher', sans-serif;
}
.btn{
  padding:5px;
  margin: 10px;
}

.form-container {
  padding-bottom: 100px;
}


      .custom-menu-wrapper {
          background-color: #808080;
          margin-bottom: 2.5em;
          white-space: nowrap;
          position: relative;
      }
      
      .custom-menu {
          display: inline-block;
          width: auto;
          vertical-align: middle;
          -webkit-font-smoothing: antialiased;
      }
      
      .custom-menu .pure-menu-link,
      .custom-menu .pure-menu-heading {
          color: white;
      }
      
      .custom-menu .pure-menu-link:hover,
      .custom-menu .pure-menu-heading:hover {
          background-color: transparent;
      }
      
      .custom-menu-top {
          position: relative;
          padding-top: .5em;
          padding-bottom: .5em;
      }
      
      .custom-menu-brand {
          display: block;
          text-align: center;
          position: relative;
      }
      
      .custom-menu-toggle {
          width: 44px;
          height: 44px;
          display: block;
          position: absolute;
          top: 3px;
          right: 0;
          display: none;
      }
      
      .custom-menu-toggle .bar {
          background-color: white;
          display: block;
          width: 20px;
          height: 2px;
          border-radius: 100px;
          position: absolute;
          top: 22px;
          right: 12px;
          -webkit-transition: all 0.5s;
          -moz-transition: all 0.5s;
          -ms-transition: all 0.5s;
          transition: all 0.5s;
      }
      
      .custom-menu-toggle .bar:first-child {
          -webkit-transform: translateY(-6px);
          -moz-transform: translateY(-6px);
          -ms-transform: translateY(-6px);
          transform: translateY(-6px);
      }
      
      .custom-menu-toggle.x .bar {
          -webkit-transform: rotate(45deg);
          -moz-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          transform: rotate(45deg);
      }
      
      .custom-menu-toggle.x .bar:first-child {
          -webkit-transform: rotate(-45deg);
          -moz-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
      }
      
      .custom-menu-screen {
          background-color: rgba(0, 0, 0, 0.5);
          -webkit-transition: all 0.5s;
          -moz-transition: all 0.5s;
          -ms-transition: all 0.5s;
          transition: all 0.5s;
          height: 3em;
          width: 70em;
          position: absolute;
          top: 0;
          z-index: -1;
      }
      
      .custom-menu-tucked .custom-menu-screen {
          -webkit-transform: translateY(-44px);
          -moz-transform: translateY(-44px);
          -ms-transform: translateY(-44px);
          transform: translateY(-44px);
      }
      
      @media (max-width: 62em) {
      
          .custom-menu {
              display: block;
          }
      
          .custom-menu-toggle {
              display: block;
              display: none\9;
          }
      
          .custom-menu-bottom {
              position: absolute;
              width: 100%;
              border-top: 1px solid #eee;
              background-color: #808080;
              z-index: 100;
          }
      
          .custom-menu-bottom .pure-menu-link {
              opacity: 1;
              -webkit-transform: translateX(0);
              -moz-transform: translateX(0);
              -ms-transform: translateX(0);
              transform: translateX(0);
              -webkit-transition: all 0.5s;
              -moz-transition: all 0.5s;
              -ms-transition: all 0.5s;
              transition: all 0.5s;
          }
      
          .custom-menu-bottom.custom-menu-tucked .pure-menu-link {
              -webkit-transform: translateX(-140px);
              -moz-transform: translateX(-140px);
              -ms-transform: translateX(-140px);
              transform: translateX(-140px);
              opacity: 0;
              opacity: 1\9;
          }
      
          .pure-menu-horizontal.custom-menu-tucked {
              z-index: -1;
              top: 45px;
              position: absolute;
              overflow: hidden;
          }
      }