

.google{
  background-image: url('./button.png');
    width: 205px;
    height: 49px;
    border: none;
    background-color: white;

}
.whoami-user-name{
  color: whitesmoke
}

.dialog {
  background-color: black
}

.alignleft {
	float: left;
}
.alignright {
	float: right;
  margin-bottom:50px;
  padding-right:10px;

}
.clear {
  clear:both;
}
.homepage {
  background-image: url("./pexel1.jpg");
background-repeat: no-repeat;
      background-size: cover;

position:fixed;
    padding:0;
    margin:0;

    top:0;
    left:0;

    width: 100vw;
    height: 100%;
      text-align: center;

}
.budgetbutton{
  margin-top: 100px;
  padding:50px;
 margin-left: 150px;
}
.btn-warning {
  margin-top: 160px;
  width: 150px;
}
.logo {

  padding-right: 10px;

}
/*@media (max-width: 400px) {
    .logo {

        margin-left: 10px;
    }
}*/
@media (max-width: 779px) {
    .signup {

        margin-top: 0px;
    }
}

@media (max-width: 779px) {
    .email {

        margin-top: 200px;
    }
}
@media (max-width: 779px) {
    .form-control.email {

        margin-top: 0px;
    }
}
.text{
  text-align: center;
  margin-top: 60px;
  color:white;
}
.credentials {
  margin-top: 20px;
}
.table-bordered{
  font-family:  Helvetica, sans-serif;
  width: 90%;
  border-radius: 10px;
  opacity: 1px


}
.habits{
  background-color: #333;
  color: whitesmoke;
}
.transaction{
  text-align: center;
}
.spendinghabits{
width:90% !important;
height:100% !important;

  margin: auto;

}
.budget{
 background-image: url("./banks.jpg");
background-repeat: no-repeat;
position:fixed;
    padding:0;
    margin:0;

    top:0;
    left:0;

 width: 100vw;
     height: 100%;
      text-align: center;
      background-size: cover;
}
.transbutton{
  margin-top: 50px;
}
.budgetbutton{
  margin-top: 100px;
}
.social:hover {
     -webkit-transform: scale(1.1);
     -moz-transform: scale(1.1);
     -o-transform: scale(1.1);
 }
 .social {
     -webkit-transform: scale(0.8);
     /* Browser Variations: */

     -moz-transform: scale(0.8);
     -o-transform: scale(0.8);
     -webkit-transition-duration: 0.5s;
     -moz-transition-duration: 0.5s;
     -o-transition-duration: 0.5s;
 }
.hometext {
  color:white
}
.header {
  margin-top: 150px;
  padding-bottom: 0px;
  color:white
}
 .logout{

  background: transparent;
  text-decoration: none;
  margin-top:7px;
  color: red;
}
#name, #logbtn {
  color:gray;
}
#logbtn:hover{
  color:white;
}
/*@media (max-width: 400px) {
    .logout {

        margin-top: 240px;
        margin-left: -160px;
        padding-left: 40px;

    }
}*/




 #social-fb:hover {
     color: #3B5998;
 }
 #social-tw:hover {
     color: #4099FF;
 }
 #social-gp:hover {
     color: #d34836;
 }
 #social-em:hover {
     color: #f39c12;
 }


.center-block{
  margin-top: 500px;
 right:78px;
 margin-right: 78px;
}


 .form-group {
        width: 200px;
      }

      .modalDialog {
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.8);
  z-index: 99999;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
}

.modalDialog:target {
  opacity:1;
  pointer-events: auto;
}

.modalDialog > div {
  width: 400px;
  position: relative;
  margin: 10% auto;
  padding: 5px 20px 13px 20px;
  border-radius: 10px;
  background: black;
  color: black;

}

.whoami-user-name{
  color: whitesmoke
}


.
.btn-warning {
  margin-top: 160px;
  width: 150px;
}
.logo {
  margin-left: -30px;
  margin-top: 12px;
  padding-right: 10px;

}
@media (max-width: 400px) {
    .logo {

        margin-left: 10px;
    }
}
@media (max-width: 600px) {
    .signup {

        margin-top: 0px;
    }
}
.text{
  text-align: center;
  margin-top: 60px;
  color:white;
}
.credentials {
  margin-top: 20px;
}
.table-bordered{
  font-family:  Helvetica, sans-serif;
  width: 90%;
  border-radius: 10px;
  opacity: 1px


}
.habits{
  background-color: #333;
  color: whitesmoke;
}
.transaction{
  text-align: center;
}
.spendinghabits{
width:90%;
height:100%;

  margin: auto;

}
.budget{
 background-image: url("./banks.jpg");
background-repeat: no-repeat;
position:fixed;
    padding:0;
    margin-top: 20px;

    top:0;
    left:0;

 width: 100vw;
     height: 100%;
      text-align: center;
      background-size: cover;
}
.transbutton{
  margin-top: 50px;
}

.social:hover {
     -webkit-transform: scale(1.1);
     -moz-transform: scale(1.1);
     -o-transform: scale(1.1);
 }
 .social {
     -webkit-transform: scale(0.8);
     /* Browser Variations: */

     -moz-transform: scale(0.8);
     -o-transform: scale(0.8);
     -webkit-transition-duration: 0.5s;
     -moz-transition-duration: 0.5s;
     -o-transition-duration: 0.5s;
 }
.hometext {
  color:white
}
.header {
  margin-top: 150px;
  padding-bottom: 0px;
  color:white
}
.logout{
  color:#fff;
  background: transparent;
  text-decoration: none;
}
@media (max-width: 400px) {
    .logout {

        margin-top: 240px;
        margin-left: -160px;
        padding-left: 40px;

    }
}
.hometext {
  color:white
}

/*@media (max-width: 779px) {
     .header,.budgetform {
      font-size: 2em;
       margin-top:255px;
       padding:0px

    }
}*/
@media (max-width: 779px) {
  .budgetform {

       margin-top:200px;
       padding:0px

    }
}
@media (max-width: 779px) {
     .text {

       margin-top:10px;
       padding:0px

    }
}
@media (max-width: 779px) {
     .emailheader {

       margin-top:190px;
       padding:0px

    }
}

 #social-fb:hover {
     color: #3B5998;
 }
 #social-tw:hover {
     color: #4099FF;
 }
 #social-gp:hover {
     color: #d34836;
 }
 #social-em:hover {
     color: #f39c12;
 }


.center-block{
  margin-top: 500px;
 right:78px;
 margin-right: 78px;
}

  /*   */

.footer {
 position:fixed;
   left:0px;
   bottom:0px;
   height:70px;
   width:100%;
   background:#333;
   padding: 10px;

}

#icons{

    text-align: center


}

.email{
    padding-left:20px;
}
.expense, {
    padding:40px;
}
#emailsetting{
    padding-top:40px;
}


th {
    font-weight: normal;
}

th thead tr th{
    font-weight: bold;
    padding-bottom: 10px;
}

table tfoot tr th{
    font-weight: bold;
    padding-top: 10px;
}


body {
   min-height: 400px;
  margin-bottom:70px;
   clear: both;
}

.expense{
    margin-bottom: 70px;
}

.addexpense{
    position: absolute;
    left:500px;
}
.mybudget{
    position: absolute;
    left:400px;
}

.expense, .budgetform{
    margin-bottom: 80px;
    padding-left:40px;
    padding-top: 50px;
}
.email{
    padding-top: 50px;
    padding-left:40px;
    margin-bottom :85px;
}

.coolemail{
    position: absolute;
    left: 200px;
}

.emaillist{
    margin-left: -40px;
}

.dollar{
    margin-top:10px;
}


.addBtn:hover {
   background-color: #58EED1;
}

.addBtn {
   padding: 10px;
   text-align: center;
   font-size: 16px;
   cursor: pointer;
   transition: 0.3s;
   background-color: #0066FF;
   color: #FFF;
   border: 2px solid #0055FF;
   border-radius: 5px;
}


@import url(https://fonts.googleapis.com/css?family=Roboto:700);

#holder{
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  background: white;
  padding: 10px;
  width: 250px;
  margin: 0 auto;
  position: relative;
  top: 50%;
  transform: translateY(-65%);
  box-shadow: 0px 3px 8px rgba(0,0,0,0.25);
  border-radius: 2px;
}
.budget-button {
  background: #3D4C53;
  margin : 20px auto;
  width : 200px;
  height : 50px;
  overflow: hidden;
  text-align : center;
  transition : .2s;
  cursor : pointer;
  border-radius: 3px;
  box-shadow: 0px 1px 2px rgba(0,0,0,.2);
}
.btnTwo {
  position : relative;
  width : 200px;
  height : 100px;
  margin-top: -95px;
  padding-top: 2px;
  background : #26A69A;
  left : -250px;
  transition : .3s;
}
.btnText {
  color : white;
  transition : .3s;
  margin-top: 17px;
}
.btnText2 {
  margin-top : 63px;
  margin-right : -130px;
  color : #FFF;
}
.budget-button:hover .btnTwo{ /*When hovering over .button change .btnTwo*/
  left: -130px;
}
.budget-button:hover .btnText{ /*When hovering over .button change .btnText*/
  margin-left : 65px;
}
.budget-button:active { /*Clicked and held*/
  box-shadow: 0px 5px 6px rgba(0,0,0,0.3);
}

.expenses-btns {
    margin-top : 100px;
}

a.nounderline:link
{
 text-decoration:none;
}




body {
   min-height: 400px;
  margin-bottom:70px;
   clear: both;
}

.expense{
    margin-bottom: 70px;
}

.addexpense{
    position: absolute;
    left:500px;
}
.mybudget{
    position: absolute;
    left:400px;
}

.expense, .budgetform{
    margin-bottom: 80px;
    padding-left:40px;
    padding-top: 50px;
}
.email{
    padding-top: 50px;
    padding-left:40px;
    margin-bottom :85px;
}

.coolemail{
    position: absolute;
    left: 200px;
}

.emaillist{
    margin-left: -40px;
}

.dollar{
    margin-top:10px;
}


.addBtn:hover {
   background-color: #58EED1;
}

.addBtn {
   padding: 10px;
   text-align: center;
   font-size: 16px;
   cursor: pointer;
   transition: 0.3s;
   background-color: #0066FF;
   color: #FFF;
   border: 2px solid #0055FF;
   border-radius: 5px;
}

/* Remove margins and padding from the list */
.goalsList {
   margin: 0;
   padding: 0;
   list-style: none;

}/* Style the list items */
.goalsList li {
   cursor: pointer;
   position: relative;

   font-size: 18px;
   transition: 0.2s;
   color: #333;
   background-color: #ccfff5
;
   padding: 15px;
   margin-bottom: 15px;
   border-radius: 5px;    /* make the list items unselectable */
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
}/* Set all odd list items to a different color (zebra-stripes) */
.goalsList li:nth-child(odd) {
   background: #f9f9f9
;
}/* Darker background-color on hover */
.goalsList li:hover {
   background: #ddd;
}/* When clicked on, add a background color and strike out text */
.goalsList li.checked {
   background: #888;
   color: #fff;
   text-decoration: line-through;
}/* Add a "checked" mark when clicked on */
.goalsList li.checked::before {
   content: '';
   position: absolute;
   border-color: #fff;
   border-style: solid;
   border-width: 0 2px 2px 0;
   top: 10px;
   left: 16px;
   transform: rotate(45deg);
   height: 15px;
   width: 7px;
}
=======
@import url(https://fonts.googleapis.com/css?family=Roboto:700);

#holder{
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  background: white;
  padding: 10px;
  width: 250px;
  margin: 0 auto;
  position: relative;
  top: 50%;
  transform: translateY(-65%);
  box-shadow: 0px 3px 8px rgba(0,0,0,0.25);
  border-radius: 2px;
}
.budget-button {
  background: #3D4C53;
  margin : 20px auto;
  width : 200px;
  height : 50px;
  overflow: hidden;
  text-align : center;
  transition : .2s;
  cursor : pointer;
  border-radius: 3px;
  box-shadow: 0px 1px 2px rgba(0,0,0,.2);
}
.btnTwo {
  position : relative;
  width : 200px;
  height : 100px;
  margin-top: -95px;
  padding-top: 2px;
  background : #26A69A;
  left : -250px;
  transition : .3s;
}
.btnText {
  color : white;
  transition : .3s;
  margin-top: 17px;
}
.btnText2 {
  margin-top : 63px;
  margin-right : -130px;
  color : #FFF;
}
.budget-button:hover .btnTwo{ /*When hovering over .button change .btnTwo*/
  left: -130px;
}
.budget-button:hover .btnText{ /*When hovering over .button change .btnText*/
  margin-left : 65px;
}
.budget-button:active { /*Clicked and held*/
  box-shadow: 0px 5px 6px rgba(0,0,0,0.3);
}

.expenses-btns {
    margin-top : 100px;
}

a.nounderline:link
{
 text-decoration:none;
}



body {
          padding-top: 50px;
          position: relative;
      }

      pre {
          tab-size: 8;
      }

      @media screen and (max-width: 668px) {
          .side-collapse-container{
              width:100%;
              position:relative;
              left:0;
              transition:left .4s;
          }
          .side-collapse-container.out{
              left:200px;
          }
          .side-collapse {
              top:50px;
              bottom:0;
              left:0;
              width:200px;
              position:fixed;
              overflow:hidden;
              transition:width .4s;
          }
          .side-collapse.in {
              width:0;
          }
      }
@media screen and (max-width: 779px){
  #icons {
   text-align: center
  }
}

/*@media screen and (max-width: 779px){
.expenses-btns {
  margin-top:255px;
  padding: 10px;
}
}*/


.form-control.email{
  width: 140px;
  margin-bottom:0px;
  display: inline-block;
}

.emailheader{
  margin-top:15px;
}


.emailheader:before,
.emailheader:after {
  content: "";
  display: table;
}
.emailheader:after {
  clear: both;
}
.emailheader {
  clear: both;
  *zoom: 1;
}

select {
  background-color: white;
}

/*@media screen and (max-width: 779px){
.navbar.navbar-inverse.navbar-fixed-top.animate{
  width: 100px;
  background-color:beige;
}
}*/
.fa-bars{
 color: white;
 margin-top:10px;
}
